.section5 {
    padding:52px 2rem;
    position: relative;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    
    .text-box {
        width: 65%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    img {
        position: absolute;
        left: 65%;
        bottom: 0px;
        
    }

}