.section1 {
    padding: 150px 0;
    .text-box {
        width: 545px;
    }
    h1 {
        font-size: 96px;
    }
    img {
        max-width: 880px;
        top: 15px;
        left: 43%;
    }
}