.footer {
    padding-top:4rem;
    .logo-side>* {
        padding-bottom:32px;
        margin-bottom: 0;
        a {
            width: 15.64px;
            height: 18px;
            left: 134px;
            top: 2747px;
            color: #999999;
            letter-spacing: 1rem;
        }
    }
}
.nav-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 4rem;
    .nav-group> p {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #555555;
        padding-bottom: 1rem;
    }
    nav> a  {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #555555;
        padding-bottom: 1rem;
    }
}
.water-marks> p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #999999;
} 
.launch-date {
    display: none;
}