.section5 {
    padding:52px 2rem;
    position: relative;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    
    .text-box {
        width: 65%;
        padding-top: 20px;
        padding-bottom: 10px;
        p {
            width: 90%;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
        }
        
    }
    h1 {
        width: 100%;
        // max-width: 310px;
        font-style: normal;
        font-weight: 900;
        font-size: 56px;
        line-height: 68px;
        color: #111111;
    }
    img {
        position: absolute;
        max-width: 428px;
        left: 60%;
        bottom: 0px;  
    }

    

    // display: flex;
    // align-items: flex-start;
}
