.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    padding-top:54px;
    padding-bottom:54px;
    justify-items: center;
    
    img {
        height: 50px;
     
    }
    img:nth-child(1) {
        width: 138px;
        object-position: 0;
        object-fit: none;
    }
    
    img:nth-child(4) {
        display: none;
    }
    
}
