.section1 {
    width: 569.68px;
    
    .text-box {
        width: 274px;
        padding-top: 38px;
    }
    img {
        width: 274px;
    }

    display: flex;
    align-items: flex-start;
    padding:62px 2rem;
}
