.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    padding-top:54px;
    padding-bottom:54px;
    justify-items: center;
    
    img {
        height: 50px;
        padding: 8px;
    }
    
    img:nth-child(3) {
        display: none;
    }
    
}
