.section2 {
    background: linear-gradient(70deg, #FF3998,#FF3939, #ff985d,  #6d74327a, #39FFA0);
    padding: 120px 32px 24px 32px;
    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
    }
    p {
        font-style: normal;
        color: #111111;
    }
}
